<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Find your match</h1>
    <p class="lead">
      WElcome to dating app... Please register for the subscription
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()">
        Register
      </button>
      <button class="btn btn-primary btn-lg">learn more..</button>
    </div>
  </div>

  <div *ngIf="registerMode">
    <app-register></app-register>
  </div>
</div>
