<nav
  class="navbar navbar-expand-md navbar-dark fixed-top navbar-dark bg-primary"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async as abcd">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">
            Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ng-container>
    </ul>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as User"
      dropdown
    >
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle
        >Welcome {{ User.userName | titlecase }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="Username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="Password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
